:root {
  --color-fondo: #080808;
  --color-fondo-secondary: #62452d;
  --color-letra: #fef4e4;
  --color-fondo-cajitas: #745537;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-letra);
  font-family: "Shippori Mincho", serif;
  background-color: #62452d;
}

.seccion1 {
  /*background-image: url('./assets/imgs/home/copa.jpg');*/
}

.nav_bar {
  /*width: 100%;*/
  background-color: rgba(0, 0, 0, 0) !important;
}

.nav_bar_superior {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center; /* hacer el media query para mobile y cambiar este */
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
}

.nav-item {
  display: flex;
  align-items: center;
}

.seccion2 {
  background-color: var(--color-fondo-secondary);
  padding: 4rem 0 4rem 0;
  font-size: 18px;
  position: relative;
  top: -220px;
}

.seccion2 h1 {
  background-color: #4d341f;
  text-align: center;
  padding: 1rem;
}

.seccion2 .content-1 {
  flex: 45;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SeccionEmpresas {
  position: relative;
  top: -220px;
  background-color: var(--color-fondo-secondary);
}
.SeccionEmpresas .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SeccionMaestrosRoneros {
  position: relative;
  top: -220px;
  background-color: var(--color-fondo-secondary);
}
.SeccionMaestrosRoneros .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SeccionNoticias {
  position: relative;
  top: -220px;
  background-color: var(--color-fondo-secondary);
}
.SeccionNoticias .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  color: #000;
  background-image: url(./../assets/imgs/footer/FONDO_FOOTER.png);

  /* position: relative;
  top: -220px;
   */
}
footer .message {
  background-color: #3d2514;
  padding: 0 0 2rem 0;
  color: #fef4e4;
  /* position: relative;
  background-color: #3d2514;
  top: -5rem;
  */
}

.img_marcas {
  max-width: 50%;
}

.carousel-item div {
  display: flex;
  justify-content: center;
}

.noticias_img {
  display: flex;
  justify-content: center;
}
.noticias_cuadro {
  background-color: #4e3522;
  padding: 2rem;
  margin-bottom: 2rem;
}

.linea1 {
  max-height: 8px;
}
.linea2 {
  height: 8px;
  margin-left: 8px;
}

.iconos_abajo {
  height: 50px;
  width: 50px;
  margin: 0 2rem 0 2rem;
}

.post_img_principal {
  max-width: 100%;
}

.SeccionCopa {
}
.SeccionRon {
  padding-top: 2rem;
  background-color: #4e3c2d;
}
.SeccionRon2 {
  padding-top: 2rem;
  background-color: #62462c;
}
.SeccionRon3 {
  padding-top: 2rem;
  background-color: #63452d;
}
.seccion_titulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.font_20 {
  font-size: 20px;
  line-height: 2;
}

.text_justify {
  text-align: justify;
}

.SeccionHistoria1 {
  padding-top: 7rem;
  background-color: #4e3c2d;
}
.SeccionHistoria2 {
  padding-top: 2rem;
  background-color: #62462c;
}
.SeccionHistoria3 {
  padding-top: 2rem;
  /* background-color: #62462c; */

  /* background: linear-gradient(to top, green 0%, green 50%, red 50%, red 100%); */
  background: linear-gradient(to top, #62462c 50%, #4e3c2d 50%);
}

.SeccionHistoria1 .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 2rem 0;
}

.text-justify {
  text-align: justify;
}

.SeccionElRon1 {
  padding-top: 100px;
  background-color: #443421;
}
.SeccionDoc1 img {
  margin-left: 2rem;
  margin-right: 2rem;
}
.SeccionElRon2 {
  background-color: #443421;
  text-align: center;
}

.Seccion0Gente {
  background-image: url(./../assets/imgs/gente/NUESTRA-GENTE-FONDO.jpg);
  background-size: 100%;
}
.Seccion1Gente {
  padding-top: 100px;
  padding-bottom: 100px;
  /* background-color: #443421; */
}

.titulo-maestro {
  color: #d48125;
}

.SeccionDoc0 {
  background: linear-gradient(to top, #62462c 10%, #4e3c2d 50%);
}
.SeccionDoc1 {
  /* background-color: #443421; */
  text-align: center;
  padding-top: 10rem;
  padding-bottom: 3rem;
}
.SeccionDocNacimiento {
  background-color: #4e3c2d;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
