:root {
  --color-fondo: #080808;
  --color-fondo-secondary: #62452d;
  --color-letra: #fef4e4;
  --color-fondo-cajitas: #745537;
}

@font-face {
  font-family: "AGaramondPro";
  src: url("/fonts/AGaramondPro-Regular.otf");
  font-style: normal;
  /* font-weight: 400; */
  font-display: swap;
}

body {
  background-color: var(--color-fondo);
  color: var(--color-letra);
  /* font-family: "Shippori Mincho", serif; */
  font-family: "AGaramondPro", "Shippori Mincho", serif;
  background-color: #62452d;
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  color: var(--color-letra);
}

/* Para 960px */
@media only screen and (max-width: 980px) and (min-width: 821px) {
}

/* Para 800px */
@media only screen and (max-width: 820px) and (min-width: 621px) {
}

/* Para 600px */
@media only screen and (max-width: 620px) and (min-width: 501px) {
}

/* Para 480px */
@media only screen and (max-width: 500px) and (min-width: 341px) {
}

/* Para 320px */
@media only screen and (max-width: 340px) and (min-width: 5px) {
}
